main
  background-color: #eeeeee
  width: 60%
  margin: auto
  margin-bottom: 2rem
  border-radius: 20px
  padding: 0 3% 1%
  font-family: "Roboto"
  text-align: left

  h1
    padding-top: 1rem
    margin-bottom: 0

  span
    display: block
    color: #717171
    margin-bottom: 4rem

  figure
    margin: 0

    img
      width: 100%

  p
    font-size: 1.1rem

    a
      color: #c0162f

      &:hover
        color: #717171

    em
      font-style: italic

  blockquote
    margin: 0
    font-style: italic
    padding: 0.5rem 1.75rem
    border-left: 0.2rem solid #c0162f

    p
      &:first-child
        margin-block-start: 0

      &:last-child
        margin-block-end: 0

    figure + p
      margin-bottom: 1rem

    h1, h3
      margin-top: 0
      text-align: center

    h2, h4, figure
      margin-top: 0
      margin-bottom: 1rem

footer::before
  display: none

@media screen and (max-width: 768px)
  main
    width: 80%

@media screen and (max-width: 320px)
  main header h1:after
    bottom: -7%