main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
}

main header {
  padding: 0;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 0.3rem solid #dbdbdb;
}

main header h1 {
  position: relative;
  margin: 1rem 0 0 0;
  font-size: 3rem;
  color: #c0162f;
}

main header h1::after {
  width: 100%;
  bottom: -6%;
  left: 0;
  content: '';
  position: absolute;
  border-bottom: 0.3rem solid #c0162f;
}

main article {
  margin-bottom: 5rem;
}

main article h2 {
  font-size: 2rem;
  text-align: left;
  margin: 1rem 0 1rem 0;
}

main article ul {
  padding-inline-start: 1.5rem;
}

main article ul,
main article p {
  text-align: left;
  font-family: "Roboto";
}

main article ul li::marker,
main article ul li a,
main article p a {
  color: #c0162f;
}

main article ul li a:hover,
main article p a:hover {
  color: #680000;
}

main article figure {
  margin: 0;
  text-align: left;
}

main article figure img {
  width: 60%;
}

main article p em {
  font-family: "Benguati";
  font-style: normal;
}

@media screen and (max-width: 1024px) {
  main {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  main {
    width: 80%;
  }
}

@media screen and (max-width: 320px) {
  main header h1:after {
    bottom: -7%;
  }

  footer::before {
    bottom: 110%;
  }
}